/* ====== SIDENAV DARK MODE ====== */
mat-sidenav {
  background-color: #1e1e1e !important;
  color: #f8f9fa !important;
}

mat-sidenav .mat-mdc-list-item {
  color: #f8f9fa !important;
}

mat-sidenav .mat-mdc-list-item .mdc-list-item__primary-text {
  color: #f8f9fa !important;
}

mat-sidenav .mat-icon {
  color: #f8f9fa !important;
}

mat-sidenav .mat-mdc-list-item:hover {
  background-color: #333 !important;
}
